build/
*.apk
*.aab
output.json

local.properties

.gradle/

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
*.iml

node_modules/

.DS_Store

captures/

.externalNativeBuild
.cxx
